        * {
            padding: 0;
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            /* If you set box-sizing: border-box; on an element, padding and border are included in the width and height */
            box-sizing: border-box;
        }
        /* The :root selector matches the document's root element.
     In HTML, the root element is always the html element. */
        
         :root {
            --color1: #ffffff;
            --color2: #e3b22b;
            --color3: rgb(215, 214, 214);
            --bg-nav: #131921;
            --bg-subnav: #232f3e;
            --bg-body: #eaeded;
        }
        
        body {
            background-color: var(--bg-body);
        }
        /*         
        @media screen and (max-width: 300px) {
            body {
                grid-template-columns: 1fr;
            }
        }
        
        @media screen and (max-width: 600px) {
            body {
                grid-template-columns: 1fr 1fr;
                max-width: 80rem;
            }
        }
        
        @media screen and (min-width: 992px) {
            body {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
        
        @media screen and (min-width: 600px) {
            nav {
                grid-template-columns: 1fr 1fr;
                max-width: 80rem;
                min-width: 50rem;
            }
        }
        
        @media screen and (min-width: 600px) {
            header {
                grid-template-columns: 1fr 1fr;
                max-width: 80rem;
                min-width: 50rem;
            }
        }
         */
        
        a {
            text-decoration: none;
        }
        
        ul {
            list-style-type: none;
        }
        
        .d-flex {
            display: flex;
            align-items: center;
            background-color: var(--bg-nav);
            overflow: hidden;
            /* z-index: 1; */
            /* position: fixed; */
        }
        /* Start Brand Logo  */
        
        .d-flex .nav-brand {
            margin: 5px 0 5px 15px;
        }
        
        .d-flex .nav-brand a {
            display: flex;
            text-decoration: none;
            padding: 0 10px 0 6px;
            color: var(--color1);
        }
        
        .d-flex .nav-brand:hover {
            border: 1px solid white;
            border-radius: 2px;
        }
        
        .d-flex .nav-brand img {
            padding-top: 10px;
            width: 100px;
        }
        
        .d-flex .nav-brand a span {
            font-size: 14px;
            padding-top: 15px;
        }
        /* End Brand Logo  */
        /* Start select address */
        
        .d-flex .address {
            display: flex;
            align-items: center;
            margin-left: 10px;
            padding: 4px;
        }
        
        .d-flex .address:hover {
            border: 1px solid white;
            border-radius: 2px;
        }
        
        .d-flex .address li a {
            color: var(--color1);
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 12px;
            padding-left: 14px;
        }
        
        .d-flex .address li a span {
            font-weight: bolder;
            font-size: 14px;
        }
        
        .d-flex .address li a span i {
            font-size: small;
            padding: 3px 3px 0 0;
            color: var(--color1);
        }
        /* End Select Address */
        /* Start of search */
        
        .d-flex .search {
            display: flex;
            position: relative;
            flex-direction: row;
            margin-left: 17px;
            flex: 1;
        }
        
        .d-flex .search #Allmenu {
            border-radius: 5px 0px 0px 5px;
            border: none;
            width: 52px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-weight: lighter;
            padding-left: 15px;
            background-color: rgb(231, 229, 229);
        }
        
        .d-flex .search #Allmenu option {
            background-color: var(--bg-body);
        }
        
        .d-flex .search input {
            width: 100%;
            padding: 10px;
            border: none;
            outline: none;
            font-size: 13px;
            letter-spacing: 1px;
        }
        
        .d-flex .search .fa-magnifying-glass {
            background-color: var(--color2);
            border-radius: 0 5px 5px 0;
            padding: 14px;
            width: 45px;
        }
        
        .d-flex .search .fa-magnifying-glass:hover {
            background-color: #f9b703;
            transform: scale(1);
        }
        /* End of Search */
        /* Start Flag Logo */
        
        .d-flex .Flag {
            color: var(--color1);
            margin-left: 18px;
            padding: 10px 6px 8px 6px;
        }
        
        .d-flex .Flag:hover {
            border: 1px solid white;
            border-radius: 2px;
        }
        
        .d-flex .Flag span {
            color: var(--color1);
            font-size: 14px;
            font-weight: bold;
            margin-left: 4px;
            padding-bottom: 1px;
        }
        
        .d-flex .Flag i {
            font-size: small;
            color: rgb(181, 177, 177);
            padding: 5px 6px 10px 2px;
        }
        /* End Flag Logo */
        /* start hello, User-name */
        
        .d-flex .nav-menu {
            display: flex;
            position: relative;
            align-items: center;
            margin-left: 10px;
            padding: 4px;
        }
        
        .d-flex .nav-menu:hover {
            border: 1px solid white;
            border-radius: 2px;
        }
        
        .d-flex .nav-menu li a {
            color: var(--color1);
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 12px;
            padding-left: 1px;
        }
        
        .d-flex .nav-menu li a span {
            font-weight: bolder;
            font-size: 14px;
        }
        
        .d-flex .nav-menu li a span i {
            font-size: small;
            color: rgb(181, 177, 177)
        }
        /* End of hello, User name */
        
        .d-flex .nav2-menu {
            display: flex;
            align-items: center;
            margin-left: 10px;
            padding: 4px;
        }
        
        .d-flex .nav2-menu:hover {
            border: 1px solid white;
            border-radius: 2px;
        }
        
        .d-flex .nav2-menu li a {
            color: var(--color1);
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 12px;
            padding-left: 1px;
        }
        
        .d-flex .nav2-menu li a span {
            font-weight: bolder;
            font-size: 14px;
        }
        
        .d-flex .nav2-menu li a span i {
            font-size: small;
            color: rgb(181, 177, 177)
        }
        
        .d-flex .Cart {
            display: flex;
            align-items: center;
            margin-left: 8px;
            margin-right: 10px;
            padding: 10px;
        }
        
        .d-flex .Cart:hover {
            border: 1px solid white;
            border-radius: 2px;
        }
        
        .d-flex .Cart li a {
            color: var(--color1);
            padding-left: 1px;
        }
        
        .d-flex .Cart li a span {
            font-weight: bolder;
            font-size: 14px;
        }
        
        .d-flex .Cart li a i {
            font-size: larger;
            color: var(--color1);
            padding: 5px 0 0px 1px;
        }
        /* Start Subnav Container */
        
        header {
            width: 100%;
            height: 40px;
            background-color: var(--bg-subnav);
            display: flex;
            align-items: center;
            /* z-index: 1;
            position: fixed; */
        }
        
        .Subnav {
            display: flex;
            padding: 0 0 0 10px;
        }
        
        .Subnav a {
            color: var(--color1);
            padding: 10px;
            font-size: 14px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        
        .Subnav a:hover {
            border: 1px solid white;
            border-radius: 2px;
        }
        
        .Subnav a i {
            margin-right: 6px;
        }
        
        .AmazonPrime-banner {
            display: flex;
            padding: 3px 0 0 0;
        }
        
        .AmazonPrime-banner a img {
            padding-left: 10px;
            margin-left: 20%;
        }
        
        .AmazonPrime-banner a img:hover {
            border: 1px solid white;
            border-radius: 2px;
        }
        /* Start of Main */
        
        main {
            background-color: var(--body-bg);
            max-height: 1400px;
            overflow: hidden;
            max-width: 1460px;
        }
        
        .product {
            max-height: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            max-width: 100%;
        }
        /* Start of banner */
        
        .Banner-container {
            position: relative;
        }
        
        .Banner {
            display: flex;
            width: 100%;
            position: absolute;
        }
        
        .Banner-button {
            display: flex;
            position: absolute;
            justify-content: space-between;
            width: 100%;
        }
        
        .Banner-button i {
            color: white;
        }
        
        .slide {
            background-color: transparent;
            border: 1px transparent;
            padding: 101px 32px;
            font-size: 36px;
            color: #4d4b4b;
        }
        
        .slide:hover {
            border: 1.5px solid rgb(62, 62, 62);
            box-shadow: -3px -3px 4px rgb(210, 209, 209), 1px 1px 1px #0d0c0c;
            margin: 2px;
        }
        
        main .Banner img {
            width: 100%;
            height: 100%;
            mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), transparent);
            -webkit-mask-image: linear-gradient( 180deg, rgb(29, 28, 28), transparent);
        }
        
        .grid-container {
            z-index: 1;
            max-height: 70%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 15px;
            background-color: transparent;
            margin: 250px 15px 30px 15px;
        }
        
        .section-1,
        .section-2,
        .section-3,
        .section-4 {
            display: flex;
            flex-direction: column;
            background-color: var(--color1);
        }
        
        .section-1:hover,
        .section-2:hover,
        .section-3:hover,
        .section-4:hover {
            transform: translate(0, -10px);
            transition: transform 0.8s;
            box-shadow: -1px -1px 1px 1px rgb(86, 86, 86);
        }
        
        .section-1 h3,
        .section-2 h3,
        .section-3 h3,
        .section-4 h3 {
            margin: 10px 15px 0 15px;
            font-size: 21px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        
        .section-1 .sub-section-1 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 45px 12px;
            margin: 20px 14px;
        }
        
        .section-2 .sub-section-2 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 25px 12px;
            margin: 20px 14px;
        }
        
        .section-3 .sub-section-3,
        .section-4 .sub-section-4 {
            display: grid;
            grid-template-columns: none;
            grid-gap: 16px 12px;
            margin: 20px 14px;
        }
        
        .section-1 .sub-section-1 img,
        .section-2 .sub-section-2 img {
            width: 100%;
            height: 100px;
        }
        
        .section-3 .sub-section-3 img,
        .section-4 .sub-section-4 img {
            width: 100%;
            height: 298px;
        }
        
        .section-1 .sub-section-1 span,
        .section-2 .sub-section-2 span {
            font-weight: lighter;
            font-size: 12px;
            color: #696a6a;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        
        .section-1 .sub-section-1 .End-text,
        .section-2 .sub-section-2 .End-text,
        .section-3 .sub-section-3 .End-text,
        .section-4 .sub-section-4 .End-text {
            color: #0d6898;
            font-size: 13px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        
        .section-3 .End-text,
        .section-4 .End-text {
            padding: 15px 0 5px 0;
        }
        
        .section-1 .sub-section-1 .End-text:hover {
            color: red;
        }
        
        .section-2 .sub-section-2 .End-text:hover {
            color: red;
        }
        
        .section-3 .End-text:hover {
            color: red;
        }
        
        .section-4 .End-text:hover {
            color: red;
        }
        
        .Sign-in-div {
            display: flex;
            justify-content: center;
            text-align: center;
            background: rgb(239, 237, 237);
            margin: 0 0 30px 0;
            height: 120px;
        }
        
        .Sign-in {
            padding: 30px;
        }
        
        .Sign-in div {
            display: flex;
            flex-direction: column;
            gap: 3px;
        }
        
        .Sign-in div span {
            color: #696a6a;
            font-size: 13px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        
        .Sign-in div button {
            background-color: rgb(237, 201, 23);
            width: 230px;
            padding: 5px;
            border: 1px solid black;
            border-radius: 8px;
            font-size: 13px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            cursor: pointer;
        }
        
        .Sign-in div p {
            font-size: 11px;
            padding: 4px;
            color: #696a6a;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        
        .Sign-in p a {
            font-size: 11px;
            margin: 5px;
            color: #0d6898;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        /* Footer Start */
        
        footer {
            height: auto;
            overflow: hidden;
            max-width: 100%;
            background-color: var(--bag-subnav);
            justify-content: space-between;
        }
        
        .Back-to-top {
            display: flex;
            text-align: center;
            justify-content: center;
            background-color: #34404d;
            height: 50px;
        }
        
        .Back-to-top span {
            color: white;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 14px;
            text-align: center;
            padding: 15px;
            cursor: pointer;
        }
        
        .Footer-content {
            background-color: var(--bg-subnav);
        }
        
        .footer-1 {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            padding: 0 40px;
        }
        
        .gettoknowus,
        .makemoney,
        .letushelpyou,
        .connectwithus {
            display: table-row;
            justify-content: space-between;
            margin: 10px;
            padding: 48px;
            color: white;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        
        footer a {
            letter-spacing: 1px;
            color: var(--color1);
            font-size: 10px;
            font-weight: bold;
        }
        
        .footer-1 div h3 {
            color: var(--color1);
            list-style-type: none;
        }
        
        .footer-1 li {
            list-style-type: none;
            align-items: center;
            text-align: left;
        }
        
        .Sub-footer {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--bag-subnav);
            height: 100px;
        }
        
        .Sub-footer .logo-languages img {
            padding: 5px;
            margin-right: 80px;
            width: 90px;
        }
        
        .Sub-footer .language-selection-container {
            padding: 5px;
            color: var(--bg-body);
            border: 1px solid white;
            border-radius: 3px;
            margin-bottom: 17px;
            margin-left: 20px;
        }
        
        .Sub-footer .language-selection-container option {
            color: rgb(66, 64, 64);
        }
        
        .Sub-footer .language-selection-container i {
            padding: 3px;
        }
        
        .countries-list,
        .languages-2 {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 12px;
        }
        
        .countries-list a,
        .languages-2 a {
            color: #c9d7d7;
            font-size: 12px;
        }
        
        .languages-2 {
            padding: 5px;
        }
        
        .subfooter-container {
            background-color: var(--bg-nav);
            max-width: 100%;
            height: 300px;
        }
        
        .subfooter-2 {
            align-items: center;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            text-align: center;
            margin-left: 10%;
            padding: 20px;
        }
        
        .subfooter-2 li {
            list-style-type: none;
            margin-top: 15px;
            margin-bottom: 10px;
            text-align: justify;
        }
        
        .subfooter-2 li a span {
            font-size: 10px;
            font-weight: 200;
            color: #ffffffd5
        }
        
        .subfooter-2 li a {
            display: flex;
            flex-direction: column;
        }
        
        .subfooter-3 {
            text-align: center;
            color: #ffffffd5;
            padding-top: 20px;
            background-color: var(--bgnav);
        }
        
        .subfooter-4 {
            text-align: center;
            background-color: var(--bgnav);
            padding-bottom: 5px;
        }
        
        .subfooter-4 span {
            color: #ffffffd5;
            font-size: 12px;
            font-weight: 200;
        }
        
        footer a:hover {
            transition: 0.02s ease-in 0.0s;
            text-decoration: underline;
        }